@media only screen and (min-aspect-ratio: 375/667) and (max-width: 600px) {
  body .wrapper .header {
    height: 189.067vw !important;
    top: -177.867vw !important;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90.667vw;
    height: 153.067vw;
  }
  input::-moz-placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  input:-ms-input-placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  input::placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  textarea::-moz-placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  textarea:-ms-input-placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  textarea::placeholder {
    text-shadow: 0vw 0vw 0.267vw #ff8845;
  }
  @-webkit-keyframes border-pulse {
    0% {
      box-shadow: 0vw 0vw 2.133vw 0vw #f80068;
    }
    50% {
      box-shadow: 0vw 0vw 7.467vw 3.733vw #f80068;
    }
    100% {
      box-shadow: 0vw 0vw 2.133vw 0vw #f80068;
    }
  }
  @keyframes border-pulse {
    0% {
      box-shadow: 0vw 0vw 2.133vw 0vw #f80068;
    }
    50% {
      box-shadow: 0vw 0vw 7.467vw 3.733vw #f80068;
    }
    100% {
      box-shadow: 0vw 0vw 2.133vw 0vw #f80068;
    }
  }
  body .preloader::before {
    left: 50%;
    top: 10.667vw;
    font-size: 6.4vw;
    line-height: 7.467vw;
    width: 108vw;
    height: 9.333vw;
    text-shadow: -0.533vw 0.533vw 2.133vw rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0vw 1.579vw 1.292vw rgba(0, 0, 0, 0.25));
    border-radius: 4.308vw;
    transform: translateX(-50%);
  }
  body .preloader .preloader__block .preloader__logo {
    gap: 9.766vw;
    height: 27.437vw;
    width: 75.195vw;
  }
  body .preloader .preloader__block .preloader__logo .preloader-anime {
    width: 27.637vw;
  }
  body .preloader .preloader__block .preloader__logo h2 {
    width: 27.344vw;
    font-size: 9.375vw;
    line-height: 7.5vw;
    text-shadow: 0vw 1.074vw 0.879vw rgba(0, 0, 0, 0.25);
  }
  body .preloader .preloader__block .preloader__line {
    padding: 0 0 0 41%;
    height: 9.348vw;
    width: 94.328vw;
    filter: drop-shadow(0vw 1.074vw 0.879vw rgba(0, 0, 0, 0.25));
    border-radius: 0.488vw;
    font-size: 4.518vw;
    line-height: 4.004vw;
  }
  body .wrapper .burger-menu {
    width: 6.667vw;
    height: 5.333vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 2.933vw;
    right: 18.667vw;
    z-index: 10;
  }
  body .wrapper .burger-menu #burger-menu__span {
    position: absolute;
    width: 6.667vw;
    height: 1.067vw;
    background-color: #c8fb1b;
    border-radius: 4vw;
  }
  body .wrapper .burger-menu #burger-menu__span:nth-child(1) {
    top: 0;
  }
  body .wrapper .burger-menu #burger-menu__span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  body .wrapper .burger-menu #burger-menu__span:nth-child(3) {
    bottom: 0;
  }
  body .wrapper .burger-menu.active #burger-menu__span:nth-child(1) {
    -webkit-animation: 1s burger-top forwards;
            animation: 1s burger-top forwards;
  }
  body .wrapper .burger-menu.active #burger-menu__span:nth-child(2) {
    opacity: 0;
  }
  body .wrapper .burger-menu.active #burger-menu__span:nth-child(3) {
    -webkit-animation: 1s burger-bottom forwards;
            animation: 1s burger-bottom forwards;
  }
  @-webkit-keyframes burger-top {
    0% {
      top: 0;
      transform: translateY(0) rotate(0);
    }
    50% {
      top: 50%;
      transform: translateY(-50%) rotate(0);
    }
    100% {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  @keyframes burger-top {
    0% {
      top: 0;
      transform: translateY(0) rotate(0);
    }
    50% {
      top: 50%;
      transform: translateY(-50%) rotate(0);
    }
    100% {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  @-webkit-keyframes burger-bottom {
    0% {
      bottom: 0;
      transform: translateY(0) rotate(0);
    }
    50% {
      bottom: 50%;
      transform: translateY(50%) rotate(0);
    }
    100% {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }
  @keyframes burger-bottom {
    0% {
      bottom: 0;
      transform: translateY(0) rotate(0);
    }
    50% {
      bottom: 50%;
      transform: translateY(50%) rotate(0);
    }
    100% {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }
  body .wrapper .hover-ligting {
    top: -10.667vw;
    left: auto;
    right: 10.133vw;
    left: 77.867vw !important;
    width: 32vw;
    opacity: 1 !important;
  }
  body .wrapper .wrapper-anime {
    position: absolute;
    width: 73.6vw;
    left: auto;
    right: 0;
    transform: scale(-1, -1);
    top: 78.4vw;
  }
  body .wrapper .header {
    min-height: 177.867vw;
    height: calc(100% + 11.2vw);
    border-radius: 0vw 0vw 5.333vw 5.333vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
    top: -100%;
    transition: 1s transform;
    overflow-y: scroll;
  }
  body .wrapper .header.active {
    transform: translateY(calc(100% - 11.2vw));
  }
  body .wrapper .header .header-container {
    border-radius: 0vw 0vw 5.333vw 5.333vw;
    padding: 26.667vw 0 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(72.86% 72.86% at 76.53% 61.38%, rgba(0, 0, 0, 0) 23.75%, rgba(210, 255, 29, 0.06) 76.87%, rgba(79, 99, 0, 0.092) 93.02%), rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(11.413vw);
            backdrop-filter: blur(11.413vw);
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
  }
  body .wrapper .header .header-container .header__left-block {
    flex-direction: column;
    gap: 13.333vw;
  }
  body .wrapper .header .header-container .header__left-block .header__logo {
    width: 73.675vw;
  }
  body .wrapper .header .header-container .header__left-block .header__nav {
    flex-direction: column;
    gap: 5.333vw;
  }
  body .wrapper .header .header-container .header__left-block .header__nav li a {
    text-align: center;
    font-size: 6.4vw;
    line-height: 7.467vw;
  }
  body .wrapper .header .header-container .header__right-block {
    margin: 20vw;
    position: relative;
    height: auto;
    gap: 5.333vw;
    width: 40vw;
    justify-content: center;
  }
  body .wrapper .header .header-container .header__right-block .lang {
    position: absolute;
    top: 15vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 14.4vw;
    height: 8vw;
    font-size: 3.733vw;
    line-height: 4.267vw;
    border-radius: 1.333vw;
  }
  body .wrapper .header .header-container .header__right-block .lang a {
    width: 12.533vw;
    font-size: 5.333vw;
    line-height: 6.133vw;
    background: #c8fb1b;
    border-radius: 1.333vw;
  }
  body .wrapper .header .header-container .header__right-block .lang a:nth-child(1) {
    z-index: 3;
    box-shadow: 0vw 0vw 3.467vw 0.267vw rgba(200, 251, 27, 0.2);
  }
  body .wrapper .header .header-container .header__right-block .lang a:nth-child(2) {
    right: 1.867vw;
  }
  body .wrapper .header .header-container .header__right-block .lang a:nth-child(3) {
    right: 1.867vw;
  }
  body .wrapper .header .header-container .header__right-block .lang.active {
    width: 40vw;
  }
  body .wrapper .header .header-container .header__right-block .lang.active a:nth-child(2) {
    right: 13.867vw;
  }
  body .wrapper .header .header-container .header__right-block .lang.active a:nth-child(3) {
    right: 27.733vw;
  }
  body .wrapper .header .header-container .header__right-block a {
    width: 8vw;
    height: 8vw;
    box-shadow: 0vw 0vw 3.467vw 0.267vw rgba(200, 251, 27, 0.2);
    transition: 0.5s box-shadow;
  }
  body .wrapper .header .header-container .header__right-block a:hover {
    box-shadow: 0vw 0vw 3.467vw 1.333vw rgba(221, 53, 27, 0.2);
  }
  body .wrapper .header .header-container .header__right-block a svg {
    width: 8vw;
  }
  body .wrapper .header .header-container .header__right-block .tel {
    border-radius: 1.333vw;
  }
  body .wrapper .header .header-container .header__right-block .telegram {
    border-radius: 50%;
  }
  body .wrapper .header .header-container .header__right-block .instagram {
    border-radius: 2.133vw;
  }
  body .wrapper .main {
    padding: 26.667vw 0 0 0;
    height: auto;
  }
  body .wrapper .main .logo-mobile {
    width: 73.675vw;
    margin: 0 auto;
    height: auto;
    display: block;
  }
  body .wrapper .main .main-container {
    height: auto;
    margin-top: 9.333vw;
    flex-direction: column;
    gap: 16vw;
    justify-content: flex-start;
  }
  body .wrapper .main .main-container .main__left-block {
    gap: 13.333vw;
    width: 100%;
  }
  body .wrapper .main .main-container .main__left-block .main__title {
    background-image: url(../images/main/left-block-bg.png);
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    background: none;
    border-radius: 4vw;
    padding: 0;
  }
  body .wrapper .main .main-container .main__left-block .main__title h1 {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0vw 0.267vw rgba(235, 255, 154, 0.36);
    width: auto;
  }
  body .wrapper .main .main-container .main__left-block .main__title h1 span {
    display: none;
  }
  body .wrapper .main .main-container .main__left-block .button-orange {
    padding: 0;
    height: 14.667vw;
    width: 100%;
    border-radius: 5.333vw;
    box-shadow: 0vw 0vw 7.467vw 3.733vw rgb(248, 0, 104);
  }
  body .wrapper .main .main-container .main__left-block .button-orange .button-green {
    border-radius: 5.333vw;
    width: 88vw;
    height: 12.8vw;
    box-shadow: inset 0vw 0.087vw 3.73vw #cbfb1f;
  }
  body .wrapper .main .main-container .main__left-block .button-orange .button-green .button-blur {
    -webkit-backdrop-filter: blur(2.667vw);
            backdrop-filter: blur(2.667vw);
    border-radius: 5.333vw;
    height: 10.933vw;
    width: 85.728vw;
  }
  body .wrapper .main .main-container .main__left-block .button-orange .button-green .button-blur .mini-circl {
    width: 5.333vw;
    height: 5.333vw;
    box-shadow: 0vw 0vw 2.667vw 0vw rgba(197, 251, 27, 0.73);
    margin-left: 14.667vw;
    margin-right: 5.333vw;
  }
  body .wrapper .main .main-container .main__left-block .button-orange .button-green .button-blur span {
    font-size: 4.8vw;
    line-height: 5.6vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .main .main-container .main__right-block {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5.333vw;
    background-image: url(../images/main/right-block-bg-mobile.svg);
    padding: 10.667vw 5.333vw 5.333vw 5.333vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
    z-index: 1;
  }
  body .wrapper .main .main-container .main__right-block h2 {
    margin: 0;
    font-size: 6.933vw;
    line-height: 8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .main .main-container .main__right-block ul {
    font-size: 4.8vw;
    line-height: 5.6vw;
    margin: 8vw 0 0 0;
  }
  body .wrapper .main .main-container .main__right-block ul li {
    margin-top: 4vw;
  }
  body .wrapper .main .main-container .main__right-block ul li span {
    margin-right: 4vw;
  }
  body .wrapper .main .main-container .main__right-block .main__mini-blur-circl {
    width: 26.667vw;
    height: 26.667vw;
    top: 11.467vw;
    left: 48vw;
  }
  body .wrapper .main .main-container .main__mini-color-circl {
    display: none;
  }
  body .wrapper .services {
    padding: 18.667vw 0 0 0;
  }
  body .wrapper .services .services-bg {
    right: 0vw;
    bottom: auto;
    top: 0;
    transform: translate(60%, -50%);
    width: 131.347vw;
    height: 131.347vw;
    border-width: 4.8vw;
    box-shadow: 0vw 0vw 15.733vw 0.8vw rgba(248, 0, 104, 0.58);
  }
  body .wrapper .services .services-container {
    position: relative;
    height: 158.067vw;
  }
  body .wrapper .services .services-container .services__ads-circl {
    top: 67.467vw;
    left: 12.8vw;
    width: 28.501vw;
    height: 28.501vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .services .services-container .services__ads-circl h2 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .services .services-container .services__sites-circl {
    width: 60.947vw;
    height: 60.947vw;
    left: 12.755vw;
    top: 94.483vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .services .services-container .services__sites-circl h2 {
    font-size: 7.467vw;
    line-height: 8.533vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .services .services-container .services__audit-circl {
    top: 130.667vw;
    left: 66.933vw;
    width: 21.333vw;
    height: 21.333vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
    z-index: 1;
  }
  body .wrapper .services .services-container .services__audit-circl h2 {
    font-size: 3.733vw;
    line-height: 4.267vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .services .services-container .services__seo-circl {
    width: 57.547vw;
    height: 57.547vw;
    left: 13.867vw;
    top: 0vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .services .services-container .services__seo-circl h2 {
    font-size: 7.467vw;
    line-height: 8.533vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .services .services-container .services__smm-circl {
    width: 44.08vw;
    height: 44.08vw;
    left: 48.027vw;
    top: 32.237vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .services .services-container .services__smm-circl h2 {
    font-size: 5.867vw;
    line-height: 6.933vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .portfolio {
    padding: 18.667vw 0 0 0;
  }
  body .wrapper .portfolio .portfolio-anime {
    display: block;
    position: absolute;
    width: 73.6vw;
    top: 0;
    left: 0;
  }
  body .wrapper .portfolio::before {
    right: -5.333vw;
    bottom: -10.667vw;
    width: 35.2vw;
    height: 35.2vw;
    box-shadow: 0vw 0vw 5.333vw 5.333vw rgba(221, 53, 27, 0.45);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__title {
    padding: 0 0 2.667vw 0vw;
    height: auto;
    width: auto;
    background-image: none;
    border-radius: 0;
    -webkit-backdrop-filter: blur(0vw);
            backdrop-filter: blur(0vw);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__title h2 {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__title h2 span {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid {
    margin-top: 2.667vw;
    grid-template-rows: 29.333vw 29.333vw 29.333vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.667vw;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem {
    border-radius: 5.333vw;
    height: 29.333vw;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem object {
    display: block;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem object .portfolio-button {
    width: 40vw;
    height: 13.333vw;
    bottom: 0;
    right: 0;
    -webkit-backdrop-filter: blur(1.333vw);
            backdrop-filter: blur(1.333vw);
    border-radius: 5.333vw 0 0 0;
    box-shadow: 0vw 0vw 4.267vw 1.6vw rgba(200, 251, 27, 0.21);
    font-size: 4.8vw;
    line-height: 5.6vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:hover {
    box-shadow: 0vw 0vw 4.267vw 1.6vw rgba(200, 251, 27, 0.21);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem .portfolio__link {
    padding: 5.333vw;
    -webkit-backdrop-filter: blur(13.333vw);
            backdrop-filter: blur(13.333vw);
    background-image: url(../images/portfolio/portfolio-link-border-mobile.svg);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem .portfolio__link h4 {
    font-size: 6.038vw;
    line-height: 6.933vw;
    margin: 0;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem .portfolio__link span {
    display: none;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem .portfolio__link::before {
    bottom: 8vw;
    right: 8vw;
    width: 5.333vw;
    height: 5.333vw;
    background-repeat: no-repeat;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:last-child:hover {
    box-shadow: 0vw 0vw 4.267vw 1.6vw rgba(221, 53, 27, 0.21);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem.active {
    height: 100%;
    grid-row-start: 1 !important;
    grid-row-end: 3 !important;
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
    box-shadow: 0vw 0vw 4.267vw 1.6vw rgba(200, 251, 27, 0.21);
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem.active .preview {
    transform: translateY(calc(-100% + 61.333vw));
    transition: 15s transform 0.5s linear;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:nth-child(5) {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  body .wrapper .portfolio .potfolio-container .portfolio__grid .portfolio__grid-elem:nth-child(6) {
    grid-row-start: 5 !important;
    grid-row-end: 5 !important;
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
  }
  body .wrapper .benefits {
    padding: 26.667vw 0 0 0;
  }
  body .wrapper .benefits .benefits-container {
    height: 160vw;
  }
  body .wrapper .benefits .benefits-container h2 {
    top: 0vw;
    left: 0vw;
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .benefits .benefits-container .benefits__profit {
    min-width: 50.133vw;
    min-height: 50.133vw;
    padding: 9%;
    left: 6.667vw;
    top: 38.667vw;
    z-index: 1;
  }
  body .wrapper .benefits .benefits-container .benefits__profit h3 {
    font-size: 5.333vw;
    line-height: 6.133vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .benefits .benefits-container .benefits__project {
    padding: 0 0 29% 0;
    left: -6.667vw;
    top: 96vw;
    min-width: 80vw;
    min-height: 80vw;
    z-index: 1;
  }
  body .wrapper .benefits .benefits-container .benefits__project h3 {
    font-size: 9.6vw;
    line-height: 10.933vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .benefits .benefits-container .benefits__quality {
    top: 37.867vw;
    left: 50.667vw;
    min-height: 34.667vw;
    min-width: 34.667vw;
    padding: 9%;
    z-index: 0;
  }
  body .wrapper .benefits .benefits-container .benefits__quality h3 {
    font-size: 3.2vw;
    line-height: 3.733vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .benefits .benefits-container .benefits__budget {
    padding: 13%;
    top: 61.333vw;
    left: 14.933vw;
    min-width: 85.333vw;
    min-height: 73.067vw;
    background-image: url(../images/benefits/budget-triangle-mobile.png);
    z-index: 2;
  }
  body .wrapper .benefits .benefits-container .benefits__budget h3 {
    font-size: 11.2vw;
    line-height: 12.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .benefits .benefits-container .benefits__support {
    top: 71.467vw;
    left: 0vw;
    min-width: 32.045vw;
    min-height: 28.8vw;
    padding: 9%;
  }
  body .wrapper .benefits .benefits-container .benefits__support h3 {
    font-size: 2.667vw;
    line-height: 2.933vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .sentence {
    padding: 18.667vw 0 0 0;
  }
  body .wrapper .sentence .sentence-anime {
    display: block;
    position: absolute;
    width: 73.6vw;
    left: auto;
    right: 0;
    transform: scale(-1, -1);
    top: 0;
  }
  body .wrapper .sentence .sentence-circle {
    display: none;
  }
  body .wrapper .sentence .sentence-circle {
    right: -32vw;
    bottom: -16vw;
    width: 130.667vw;
    height: 130.667vw;
  }
  body .wrapper .sentence .sentence-container {
    height: auto;
  }
  body .wrapper .sentence .sentence-container .sentence__title {
    margin: 0 0 5.333vw 0;
    width: 66.667vw;
    height: auto;
    padding: 0;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    border-radius: 0;
    background: none;
  }
  body .wrapper .sentence .sentence-container .sentence__title h2 {
    font-size: 8.533vw;
    line-height: 9.867vw;
  }
  body .wrapper .sentence .sentence-container .sentence__title h2 span {
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .sentence .sentence-container .container-flex-elem {
    margin: 2.667vw 0 0 0;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5.333vw;
    -webkit-backdrop-filter: 0;
            backdrop-filter: 0;
    gap: 2.667vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el {
    box-shadow: 0vw 0vw 1.067vw 0.267vw rgba(196, 251, 23, 0.2);
    width: 100% !important;
    background: rgba(28, 25, 25, 0.3019607843) !important;
    border-radius: 5.333vw;
    height: 17.333vw;
    padding: 5.333vw !important;
    overflow: hidden;
    transition: 0.5s height, 0.5s box-shadow;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el h3 {
    font-size: 5.867vw;
    line-height: 6.667vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el h3 br {
    display: none;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el ul {
    opacity: 0;
    margin: 4vw 0 0 0;
    transition: 0.5s opacity;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el ul li {
    font-size: 3.733vw;
    line-height: 4.267vw;
    margin: 2.667vw 0 0 0;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el .sentence__circl-block {
    right: 5.333vw;
    top: 5.333vw;
    width: 2.667vw;
    height: 2.667vw;
    border-left: 0.533vw solid #c5fb1b;
    border-bottom: 0.533vw solid #c5fb1b;
    transform: rotate(-45deg);
    transition: 0.5s transform;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el .sentence__circl-block .sentence__mini-circl {
    display: none;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el .sentence__circl-block p {
    display: none;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el:hover {
    transform: none;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active {
    box-shadow: 0vw 0vw 2.4vw 0vw rgb(200, 251, 27);
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active ul {
    opacity: 1;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active .sentence__circl-block {
    transform: rotate(45deg);
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-1 {
    height: 60.267vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-2 {
    height: 53.333vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-3 {
    height: 39.467vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-4 {
    height: 60.267vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-5 {
    height: 57.6vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-6 {
    height: 57.6vw;
  }
  body .wrapper .sentence .sentence-container .container-flex-elem .sentence__flex-el.active.sentence__flex-el-7 {
    height: 53.333vw;
  }
  body .wrapper .instruments {
    padding: 40vw 0 0 0;
  }
  body .wrapper .instruments .instruments-container {
    position: relative;
    height: 126.667vw;
  }
  body .wrapper .instruments .instruments-container .instruments__title {
    top: -24vw;
    left: 0;
  }
  body .wrapper .instruments .instruments-container .instruments__title h2 {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .instruments .instruments-container .instruments__circl {
    background-image: url(../images/instruments/ellipse1.svg);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-html {
    height: 14.667vw;
    width: 14.667vw;
    left: 3.733vw;
    top: 32.685vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-html h3 {
    font-size: 3.733vw;
    line-height: 4.267vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-sql {
    height: 25.333vw;
    width: 25.333vw;
    left: 45.867vw;
    top: 6.235vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-sql h3 {
    font-size: 6.933vw;
    line-height: 8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-css {
    height: 14.245vw;
    width: 14.667vw;
    left: 65.012vw;
    top: 0vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-css h3 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-adobe {
    height: 17.333vw;
    width: 17.333vw;
    left: 38.155vw;
    top: 22.095vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-adobe h3 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-github {
    height: 28vw;
    width: 28vw;
    left: 24.267vw;
    top: 76.685vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-github h3 {
    font-size: 6.4vw;
    line-height: 7.467vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-ux {
    height: 14.667vw;
    width: 14.667vw;
    left: 34.4vw;
    top: 43.085vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-ux h3 {
    font-size: 3.733vw;
    line-height: 4.267vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-react {
    height: 12vw;
    width: 12vw;
    left: 36.533vw;
    top: 60.685vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-react h3 {
    font-size: 3.2vw;
    line-height: 3.733vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-yandex {
    height: 12vw;
    width: 12vw;
    left: 28.533vw;
    top: 7.085vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-yandex h3 {
    font-size: 2.667vw;
    line-height: 2.933vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-bem {
    height: 14.667vw;
    width: 14.667vw;
    left: 1.067vw;
    top: 110.019vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-bem h3 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-google {
    height: 26.667vw;
    width: 26.667vw;
    left: 8vw;
    top: 9.752vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-google h3 {
    font-size: 6.4vw;
    line-height: 7.467vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-ads {
    height: 8vw;
    width: 8vw;
    left: 17.333vw;
    top: 32.685vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-ads h3 {
    font-size: 2.133vw;
    line-height: 2.4vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-node {
    height: 21.333vw;
    width: 21.333vw;
    left: 62.933vw;
    top: 84.685vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-node h3 {
    font-size: 4.27vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-wp {
    height: 20vw;
    width: 20vw;
    left: 0vw;
    top: 64.952vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
    z-index: 1;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-wp h3 {
    font-size: 3.2vw;
    line-height: 3.733vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-tilda {
    height: 18.667vw;
    width: 18.667vw;
    left: 62.933vw;
    top: 32.419vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-tilda h3 {
    font-size: 4.8vw;
    line-height: 5.6vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-bitrix {
    height: 25.333vw;
    width: 26.083vw;
    left: 55.467vw;
    top: 47.885vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-bitrix h3 {
    font-size: 4.8vw;
    line-height: 5.6vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-cms {
    height: 9.333vw;
    width: 9.333vw;
    left: 21.867vw;
    top: 59.885vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-cms h3 {
    font-size: 2.667vw;
    line-height: 2.933vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-api {
    height: 12vw;
    width: 12vw;
    left: 8.8vw;
    top: 95.352vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-api h3 {
    font-size: 3.733vw;
    line-height: 4.267vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-crm {
    height: 14.667vw;
    width: 14.667vw;
    left: 11.733vw;
    top: 50.552vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-crm h3 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-php {
    height: 14.667vw;
    width: 14.667vw;
    left: 20.8vw;
    top: 97.485vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-php h3 {
    font-size: 4.267vw;
    line-height: 4.8vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .instruments .instruments-container .instruments__circl-js {
    height: 12vw;
    width: 12vw;
    left: 48vw;
    top: 107.619vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .instruments .instruments-container .instruments__circl-js h3 {
    font-size: 3.733vw;
    line-height: 4.267vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
  }
  body .wrapper .form {
    padding: 18.667vw 0 0 0;
  }
  body .wrapper .form .form__purple-circle {
    right: -194.667vw;
    top: 0vw;
    width: 264.051vw;
    height: 264.051vw;
    border-width: 8vw;
    box-shadow: 0vw 0vw 15.733vw 0.8vw rgba(248, 0, 104, 0.58);
  }
  body .wrapper .form .form-container {
    height: 208.533vw;
    padding: 13.333vw 5.333vw 21.333vw 5.333vw;
    -webkit-backdrop-filter: blur(10.667vw);
            backdrop-filter: blur(10.667vw);
    background-image: url(../images/footer/form-bg-mobile.svg);
    border-radius: 9.667vw 85.333vw 61.981vw 61.981vw;
    flex-direction: column;
  }
  body .wrapper .form .form-container .form__title {
    width: 100%;
    gap: 4vw;
  }
  body .wrapper .form .form-container .form__title h2 {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    font-size: 8.533vw;
    line-height: 9.867vw;
  }
  body .wrapper .form .form-container .form__title span {
    font-size: 4.8vw;
    line-height: 5.6vw;
    text-shadow: 0vw 0vw 0.267vw #ffffff;
    width: 100%;
  }
  body .wrapper .form .form__application-form {
    width: 100%;
    gap: 6.4vw;
    z-index: 1;
  }
  body .wrapper .form .form__application-form .checkbox {
    gap: 4vw;
  }
  body .wrapper .form .form__application-form .checkbox .checkbox-button {
    box-shadow: 0vw 0vw 2.4vw 1.333vw rgb(221, 53, 27);
    width: 4vw;
    height: 4vw;
  }
  body .wrapper .form .form__application-form .checkbox .checkbox-button span {
    width: 1.867vw;
    height: 1.867vw;
  }
  body .wrapper .form .form__application-form .checkbox .checkbox-title {
    font-size: 3.2vw;
    line-height: 3.733vw;
  }
  body .wrapper .form .form__application-form .checkbox.active .checkbox-button {
    box-shadow: 0vw 0vw 2.4vw 0vw rgb(200, 251, 27);
  }
  body .wrapper .form .form__application-form .entry {
    font-weight: 600;
    font-size: 6.385vw;
    line-height: 7.467vw;
    border-bottom: 0.606vw solid rgba(255, 185, 163, 0.51);
  }
  body .wrapper .form .form__application-form .entry:focus {
    border-bottom: #cbfb1f solid 0.606vw;
  }
  body .wrapper .form .form__application-form .textarea-wrapper .entry {
    border: none;
  }
  body .wrapper .form .form__application-form .textarea-wrapper::before {
    width: 61.333vw;
    height: 9.333vw;
    border-left: 0.606vw solid rgba(255, 185, 163, 0.51);
    border-bottom: 0.606vw solid rgba(255, 185, 163, 0.51);
  }
  body .wrapper .form .form__application-form .textarea-wrapper::after {
    width: 21.333vw;
    height: 9.333vw;
    border-top: 0.606vw solid rgba(255, 185, 163, 0.51);
    border-right: 0.606vw solid rgba(255, 185, 163, 0.51);
  }
  body .wrapper .form .form__button-orange {
    width: 43.467vw;
    height: 43.467vw;
    box-shadow: 0vw 0vw 7.467vw 3.733vw #f80068;
  }
  body .wrapper .form .form__button-orange .form__button-green {
    width: 38.667vw;
    height: 38.667vw;
    box-shadow: inset 0vw 0.443vw 6.86vw #cbfb1f;
  }
  body .wrapper .form .form__button-orange .form__button-green .form__button-blur {
    -webkit-backdrop-filter: blur(2.667vw);
            backdrop-filter: blur(2.667vw);
    height: 33.067vw;
    width: 33.067vw;
  }
  body .wrapper .form .form__button-orange .form__button-green .form__button-blur .form__input {
    font-size: 10.885vw;
    line-height: 12.8vw;
    text-shadow: 0vw 0vw 0.267vw rgba(196, 251, 23, 0.97);
  }
  body .wrapper .footer {
    padding: 18.667vw 0 8vw 0;
  }
  body .wrapper .footer .footer__info {
    padding: 5.333vw;
    height: 42.667vw;
    -webkit-backdrop-filter: blur(2.667vw);
            backdrop-filter: blur(2.667vw);
    border-radius: 5.333vw;
    background-image: url(../images/footer/footer-bg-375.svg);
    flex-direction: row-reverse;
  }
  body .wrapper .footer .footer__info .footer__left-block {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.667vw;
  }
  body .wrapper .footer .footer__info .footer__left-block span {
    font-size: 3.2vw;
    line-height: 3.733vw;
  }
  body .wrapper .footer .footer__info .footer__right-block {
    gap: 2.667vw;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .wrapper .footer .footer__info .footer__right-block img {
    width: 37.333vw;
    transform: translateY(-1.333vw);
  }
  body .wrapper .footer .footer__info .footer__right-block h3 {
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 3.733vw;
  }
}/*# sourceMappingURL=375.css.map */