@media only screen and (max-width: 600px) {
  body {
    .wrapper {
      .hosting {
        padding: 18.667vw 0 0 0;
        // padding: 26.667vw 0 0 0;
        .hosting-circle {
          width: 284.392vw;
          height: 284.392vw;
          right: -192vw;
          bottom: auto;
          top: 53.333vw;
          border-width: 5.333vw;
          -webkit-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          -moz-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            -moz-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
          }
        }
        .hosting__continer {
          width: 90.667vw;
          .hosting-title {
            width: 80vw;
            padding: 0;
            height: auto;
            border-radius: 1.465vw;
            backdrop-filter: blur(0);
            background: none;
            h1 {
              font-size: 8.533vw;
              line-height: 9.867vw;
              text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              span {
                font-size: 8.533vw;
                line-height: 9.867vw;
                text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .hosting__elem-wrapper {
            padding: 4.533vw 0 18.667vw 0;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4.533vw;
            .hosting-elem {
              width: 100%;
              padding: 9.333vw 5.333vw;
              backdrop-filter: blur(5.333vw);
              border-radius: 4.267vw;
              ul {
                span {
                  font-size: 11.26vw;
                  line-height: 13.067vw;
                  margin: 0 0 5.333vw 0;
                }
                li {
                  font-size: 4.8vw;
                  line-height: 5.6vw;
                  gap: 2.667vw;
                  img {
                    width: 6.667vw;
                  }
                }
              }
              &:nth-child(1) {
                background-image: url(../images/hosting/border-elem1-mobile.svg);
                border-radius: 4.481vw 44vw 4.485vw 4.485vw;
              }
              &:nth-child(2) {
                background-image: url(../images/hosting/border-elem2.svg);
              }
              &:nth-child(3) {
                background-image: url(../images/hosting/border-elem3-mobile.svg);
              }
              span {
                margin: 5.333vw 0 2.667vw 0;
                font-size: 6.4vw;
                width: min-content;
                color: #ffffff;
              }
              .buttom-block {
                justify-content: center;
                gap: 12vw;
                .left-block,
                .right-block {
                  strong {
                    font-size: 11.48vw;
                    line-height: 13.067vw;
                  }
                  p {
                    font-size: 4.336vw;
                  }
                }
              }
              &:hover {
                transform: translateY(0);
              }
            }
          }
        }
      }

      .form {
        z-index: 1;
        .form__green-circle {
          width: 101.333vw;
          height: 101.333vw;
          border-width: 5.333vw;
          -webkit-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          -moz-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          &::before {
            -webkit-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(
                197,
                251,
                27,
                0.6
              ) inset;
            -moz-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
            box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
          }
        }
        .form-container {
          background-image: url(../images/hosting/form-bg-mobile.svg.svg);
          backdrop-filter: blur(5.333vw);
          .form__title {
            width: 100%;
            gap: 2.667vw;
            margin: 0 auto 0 0;
            h2 {
              font-size: 8.533vw;
              line-height: 9.867vw;
            }
            span {
              font-size: 5.905vw;
              line-height: 6.667vw;
            }
            .form__subtitle {
                justify-content: flex-start;
                margin: 0 0 0 12.533vw;
              gap: 6.667vw;
              img {
                width: 8vw;
                height: 8vw;
                transform: scale(2.8) translateY(2%);
              }
              span {
                font-size: 5.905vw;
                line-height: 6.667vw;
                text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .form__application-form {
            gap: 5vw;
            span {
              font-size: 6.385vw;
              line-height: 7.467vw;
            }
            .checkbox-evaluate {
              gap: 6.667vw;
              .checkbox-button {
                gap: 2.133vw;
                span {
                  width: 4.267vw;
                  height: 4.267vw;
                  border-width: 0.4vw;
                  border-radius: 0.656vw;
                  .checkbox-img {
                    width: 6.667vw;
                  }
                }
                &::after {
                  font-size: 3.937vw;
                  line-height: 4.533vw;
                }
                &.active {
                  transform: scale(1.14);
                  span {
                    border-width: 0.4vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
