@media only screen and (max-width: 600px) {
  body .wrapper .hosting {
    padding: 26.667vw 0 0 0;
  }
  body .wrapper .hosting .hosting-circle {
    width: 284.392vw;
    height: 284.392vw;
    right: -192vw;
    bottom: auto;
    top: 53.333vw;
    border-width: 5.333vw;
    box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
  }
  body .wrapper .hosting .hosting-circle::before {
    box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
  }
  body .wrapper .hosting .hosting__continer {
    width: 90.667vw;
  }
  body .wrapper .hosting .hosting__continer .hosting-title {
    width: 80vw;
    padding: 0;
    height: auto;
    border-radius: 1.465vw;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    background: none;
  }
  body .wrapper .hosting .hosting__continer .hosting-title h1 {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .hosting .hosting__continer .hosting-title h1 span {
    font-size: 8.533vw;
    line-height: 9.867vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper {
    padding: 4.533vw 0 18.667vw 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4.533vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem {
    width: 100%;
    padding: 9.333vw;
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
    border-radius: 4.267vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul span {
    font-size: 11.26vw;
    line-height: 13.067vw;
    margin: 0 0 5.333vw 0;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul li {
    font-size: 4.8vw;
    line-height: 5.6vw;
    gap: 2.667vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul li img {
    width: 6.667vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(1) {
    background-image: url(../images/hosting/border-elem1-mobile.svg);
    border-radius: 4.481vw 44vw 4.485vw 4.485vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(2) {
    background-image: url(../images/hosting/border-elem2.svg);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(3) {
    background-image: url(../images/hosting/border-elem3-mobile.svg);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem span {
    margin: 5.333vw 0 2.667vw 0;
    font-size: 6.4vw;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    color: #FFFFFF;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .left-block strong,
body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .right-block strong {
    font-size: 11.48vw;
    line-height: 13.067vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .left-block p,
body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .right-block p {
    font-size: 4.336vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:hover {
    transform: translateY(0);
  }
  body .wrapper .form {
    z-index: 1;
  }
  body .wrapper .form .form__green-circle {
    width: 101.333vw;
    height: 101.333vw;
    border-width: 5.333vw;
    box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
  }
  body .wrapper .form .form__green-circle::before {
    box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
  }
  body .wrapper .form .form-container {
    background-image: url(../images/hosting/form-bg-mobile.svg.svg);
    -webkit-backdrop-filter: blur(5.333vw);
            backdrop-filter: blur(5.333vw);
  }
  body .wrapper .form .form-container .form__title {
    width: 68vw;
    gap: 2.667vw;
  }
  body .wrapper .form .form-container .form__title h2 {
    font-size: 8.533vw;
    line-height: 9.867vw;
  }
  body .wrapper .form .form-container .form__title span {
    font-size: 5.905vw;
    line-height: 6.667vw;
  }
  body .wrapper .form .form-container .form__title .form__subtitle {
    margin: 0 0 0 8vw;
    gap: 6.667vw;
  }
  body .wrapper .form .form-container .form__title .form__subtitle img {
    width: 8vw;
    height: 8vw;
    transform: scale(2.8) translateY(2%);
  }
  body .wrapper .form .form-container .form__title .form__subtitle span {
    font-size: 5.905vw;
    line-height: 6.667vw;
    text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .form .form-container .form__application-form {
    gap: 6vw;
  }
  body .wrapper .form .form-container .form__application-form span {
    font-size: 6.385vw;
    line-height: 7.467vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate {
    gap: 6.667vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button {
    gap: 2.133vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button span {
    width: 4.267vw;
    height: 4.267vw;
    border-width: 0.4vw;
    border-radius: 0.656vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button span .checkbox-img {
    width: 6.667vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button::after {
    font-size: 3.937vw;
    line-height: 4.533vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button.active {
    transform: scale(1.14);
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button.active span {
    border-width: 0.4vw;
  }
}/*# sourceMappingURL=hosting375.css.map */