body {
  .wrapper {
    .hosting {
      position: relative;
      width: 100%;
      height: auto;
      padding: 5.729vw 0 0 0;
      // padding: 9.896vw 0 0 0;
      z-index: 1;
      .hosting-circle {
        position: absolute;
        width: 157.941vw;
        height: 157.941vw;
        right: 2.24vw;
        bottom: -22.188vw;
        border-radius: 100%;
        border: 1.719vw solid #f80068;
        -webkit-box-shadow: 0vw 0vw 3.802vw 0.625vw rgba(248, 0, 104, 0.58);
        -moz-box-shadow: 0vw 0vw 3.802vw 0.625vw rgba(248, 0, 104, 0.58);
        box-shadow: 0vw 0vw 3.802vw 0.625vw rgba(248, 0, 104, 0.58);
        &::before {
          content: "";
          display: block;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          -webkit-box-shadow: 0vw 0vw 3.802vw -0.938vw rgba(248, 0, 104, 0.58) inset;
          -moz-box-shadow: 0vw 0vw 3.802vw -0.938vw rgba(248, 0, 104, 0.58) inset;
          box-shadow: 0vw 0vw 3.802vw -0.938vw rgba(248, 0, 104, 0.58) inset;
        }
      }
      .hosting__continer {
        width: 84.375vw;
        margin: 0 auto;
        .hosting-title {
          display: flex;
          align-items: center;
          padding: 0 3.385vw;
          position: relative;
          width: 100%;
          height: 6.51vw;
          border-radius: 1.302vw;
          backdrop-filter: blur(1.042vw);
          background-image: url(../images/portfolio/portfolio-blur.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          h1 {
            font-weight: bold;
            font-size: 3.333vw;
            line-height: 3.854vw;
            text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
            color: #ffffff;
            span {
              font-weight: bold;
              font-size: 3.333vw;
              line-height: 3.854vw;
              text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              background-image: linear-gradient(
                273.4deg,
                #c5fb1b -0.96%,
                #fe6b00 37.16%
              );
            }
          }
        }
        .hosting__elem-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 2.083vw 0 7.292vw 0;
          .hosting-elem {
            width: 26.719vw;
            height: auto;
            padding: 2.083vw 3.385vw 3.385vw 3.385vw;
            backdrop-filter: blur(1.042vw);
            border-radius: 1.302vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%, 100%;
            transition: 0.3s transform;
            .number {
              font-style: normal;
              font-weight: 700;
              font-size: 3.27vw;
              line-height: 3.75vw;
              background: linear-gradient(
                268.31deg,
                #c5fb1b 55.9%,
                #fe8900 110.78%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              margin: 0 0 1.042vw 0;
              display: block;
            }
            ul {
              li {
                font-weight: 400;
                font-size: 1.25vw;
                line-height: 1.458vw;
                text-transform: capitalize;
                color: #efefef !important;
                background: none;
                display: flex;
                align-items: center;
                gap: 1.042vw;
                &::before{
                  display: block;
                  content: '';
                  width: 1.979vw;
                  height: 1.979vw;
                  background-image: url(../images/hosting/arrow.svg);
                  background-size: 100% auto;
                  transform: translateY(7%);
                }
              }
            }
            &:nth-child(1) {
              background-image: url(../images/hosting/border-elem1.svg);
            }
            &:nth-child(2) {
              background-image: url(../images/hosting/border-elem2.svg);
            }
            &:nth-child(3) {
              background-image: url(../images/hosting/border-elem3.svg);
            }
            span {
              display: block;
              font-weight: 400;
              font-size: 2.5vw;
              line-height: 95%;
              color: rgba(255, 255, 255, 0.2);
            }
            .buttom-block {
              display: flex;
              justify-content: space-between;
              .left-block,
              .right-block {
                strong {
                  font-weight: 400;
                  font-size: 3.333vw;
                  line-height: 3.854vw;
                  color: #ffffff;
                }
                p {
                  font-weight: 400;
                  font-size: 1.377vw;
                  line-height: 100%;
                  color: #efefef;
                }
              }
            }
            &:hover {
              transform: translateY(-2%);
            }
          }
        }
      }
    }
    .form {
      z-index: 1;
      .form__green-circle {
        position: absolute;
        left: 50%;
        top: 0;
        top: 0;
        transform: translateX(-50%);
        width: 32.083vw;
        height: 32.083vw;
        border-radius: 100%;
        border: 1.667vw solid #c5fb1b;
        -webkit-box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        -moz-box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          -webkit-box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
          -moz-box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
          box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
        }
      }
      .form-container {
        backdrop-filter: blur(3.083vw);
        .form__title {
          width: 21.615vw;
          gap: 0.781vw;
          h2 {
            font-size: 2.951vw;
            line-height: 3.385vw;
          }
          span {
            width: 100%;
            font-size: 1.875vw;
            line-height: 2.135vw;
          }
          .form__subtitle {
            margin: 0 0 0 3.125vw;
            display: flex;
            gap: 2.344vw;
            align-items: center;
            img {
              width: 2.604vw;
              height: 2.604vw;
              transform: scale(2.8) translateY(2%);
            }
            span {
              width: min-content;
              font-size: 1.875vw;
              line-height: 2.135vw;
              background: linear-gradient(
                304.77deg,
                #c6f800 12.2%,
                #f13737 92.8%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
            }
          }
        }
        .form__application-form {
          span {
            font-weight: 600;
            font-size: 1.869vw;
            line-height: 2.188vw;
            color: #ff8845;
            text-shadow: 0vw 0vw 0.052vw #ff8845;
          }
          .checkbox-evaluate {
            display: flex;
            gap: 2.292vw;
            .checkbox-button {
              display: flex;
              align-items: center;
              gap: 0.677vw;
              cursor: pointer;
              transition: 0.3s transform;
              span {
                width: 1.354vw;
                height: 1.354vw;
                border: 0.104vw solid #986962;
                border-radius: 0.208vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                transition: 0.3s border;
                .checkbox-img {
                  width: 1.979vw;
                  height: auto;
                  opacity: 0;
                  transition: 0.3s opacity;
                }
              }
              &::after {
                content: "2.0";
                font-style: normal;
                font-weight: 400;
                font-size: 1.25vw;
                line-height: 1.458vw;
                text-transform: lowercase;
                color: #efefef;
                transition: 0.3s color;
              }
              &:last-child {
                &::after {
                  content: "3.0";
                }
              }
              &:first-child {
                &::after {
                  content: "1.0";
                }
              }
              &.active {
                transform: scale(1.14);
                span {
                  border: 0.104vw solid #c4fb17;
                  .checkbox-img {
                    opacity: 1;
                  }
                }
                &::after {
                  color: #c4fb17;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1280px) {
  body {
    .wrapper {
      .hosting {
        padding: 6.836vw 0 0 0;
        // padding: 9.896vw 0 0 0;
        .hosting-circle {
          width: 152.788vw;
          height: 152.788vw;
          right: 18.945vw;
          bottom: -9.375vw;
          border-width: 1.66vw;
          -webkit-box-shadow: 0vw 0vw 7.129vw 1.172vw rgba(248, 0, 104, 0.58);
          -moz-box-shadow: 0vw 0vw 7.129vw 1.172vw rgba(248, 0, 104, 0.58);
          box-shadow: 0vw 0vw 7.129vw 1.172vw rgba(248, 0, 104, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 7.129vw -1.758vw rgba(248, 0, 104, 0.58)
              inset;
            -moz-box-shadow: 0vw 0vw 7.129vw -1.758vw rgba(248, 0, 104, 0.58) inset;
            box-shadow: 0vw 0vw 7.129vw -1.758vw rgba(248, 0, 104, 0.58) inset;
          }
        }
        .hosting__continer {
          width: 95.703vw;
          .hosting-title {
            padding: 0 3.906vw;
            height: 7.422vw;
            border-radius: 1.465vw;
            backdrop-filter: blur(1.953vw);
            h1 {
              font-size: 3.711vw;
              line-height: 4.297vw;
              text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
              span {
                font-size: 3.711vw;
                line-height: 4.297vw;
                text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .hosting__elem-wrapper {
            padding: 1.66vw 0 6.836vw 0;
            .hosting-elem {
              width: 30.817vw;
              padding: 3.418vw;
              backdrop-filter: blur(1.042vw);
              border-radius: 1.465vw;
              .number {
                font-size: 3.771vw;
                line-height: 4.297vw;
                margin: 0;
              }
              ul {
                li {
                  font-size: 1.442vw;
                  line-height: 1.66vw;
                  gap: 0.977vw;
                  &::before{
                    width: 2.441vw;
                    height: 2.441vw;
                  }
                }
              }
              &:nth-child(1) {
                background-image: url(../images/hosting/border-elem1.svg);
              }
              &:nth-child(2) {
                background-image: url(../images/hosting/border-elem2.svg);
              }
              &:nth-child(3) {
                background-image: url(../images/hosting/border-elem3.svg);
              }
              span {
                font-size: 2.884vw;
              }
              .buttom-block {
                .left-block,
                .right-block {
                  strong {
                    font-size: 3.845vw;
                    line-height: 4.395vw;
                  }
                  p {
                    font-size: 1.588vw;
                  }
                }
              }
              &:hover {
                transform: translateY(-1%);
              }
            }
          }
        }
      }
      .form {
        z-index: 1;
        .form__green-circle {
          width: 37.109vw;
          height: 37.109vw;
          border-width: 1.953vw;
          -webkit-box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          -moz-box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          &::before {
            -webkit-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6)
              inset;
            -moz-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
            box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
          }
        }
        .form-container {
          .form__title {
            width: 24.902vw;
            gap: 0.977vw;
            h2 {
              font-size: 3.403vw;
              line-height: 3.906vw;
            }
            span {
              font-size: 2.163vw;
              line-height: 2.441vw;
            }
            .form__subtitle {
              margin: 0 0 0 2.93vw;
              gap: 2.441vw;
              img {
                width: 2.93vw;
                height: 2.93vw;
                transform: scale(2.8) translateY(2%);
              }
              span {
                font-size: 2.163vw;
                line-height: 2.441vw;
                text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .form__application-form {
            gap: 2vw;
            span {
              font-size: 2.338vw;
              line-height: 2.734vw;
            }
            .checkbox-evaluate {
              gap: 2.441vw;
              .checkbox-button {
                gap: 0.781vw;
                span {
                  width: 1.563vw;
                  height: 1.563vw;
                  border-width: 0.146vw;
                  border-radius: 0.24vw;
                  .checkbox-img {
                    width: 2.441vw;
                  }
                }
                &::after {
                  font-size: 1.442vw;
                  line-height: 1.66vw;
                }
                &.active {
                  transform: scale(1.14);
                  span {
                    border-width: 0.146vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .wrapper {
      .hosting {
        padding: 18.667vw 0 0 0;
        // padding: 26.667vw 0 0 0;
        .hosting-circle {
          width: 284.392vw;
          height: 284.392vw;
          right: -192vw;
          bottom: auto;
          top: 53.333vw;
          border-width: 5.333vw;
          -webkit-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          -moz-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            -moz-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
          }
        }
        .hosting__continer {
          width: 90.667vw;
          .hosting-title {
            width: 80vw;
            padding: 0;
            height: auto;
            border-radius: 1.465vw;
            backdrop-filter: blur(0);
            background: none;
            h1 {
              font-size: 8.533vw;
              line-height: 9.867vw;
              text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              span {
                font-size: 8.533vw;
                line-height: 9.867vw;
                text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .hosting__elem-wrapper {
            padding: 4.533vw 0 18.667vw 0;
            flex-direction: column;
            justify-content: flex-start;
            gap: 4.533vw;
            .hosting-elem {
              width: 100%;
              padding: 9.333vw 5.333vw;
              backdrop-filter: blur(5.333vw);
              border-radius: 4.267vw;
              .number {
                font-size: 11.26vw;
                line-height: 13.067vw;
              }
              ul {
                li {
                  font-size: 4.8vw;
                  line-height: 5.6vw;
                  gap: 2.667vw;
                  &::before{
                    width:  6.667vw;
                    height: 6.667vw; 
                  }
                }
              }
              &:nth-child(1) {
                background-image: url(../images/hosting/border-elem1-mobile.svg);
                border-radius: 4.481vw 44vw 4.485vw 4.485vw;
              }
              &:nth-child(2) {
                background-image: url(../images/hosting/border-elem2.svg);
              }
              &:nth-child(3) {
                background-image: url(../images/hosting/border-elem3-mobile.svg);
              }
              span {
                margin: 5.333vw 0 2.667vw 0;
                font-size: 6.4vw;
                width: min-content;
                color: #ffffff;
              }
              .buttom-block {
                justify-content: center;
                gap: 12vw;
                .left-block,
                .right-block {
                  strong {
                    font-size: 11.48vw;
                    line-height: 13.067vw;
                  }
                  p {
                    font-size: 4.336vw;
                  }
                }
              }
              &:hover {
                transform: translateY(0);
              }
            }
          }
        }
      }

      .form {
        z-index: 1;
        .form__green-circle {
          width: 101.333vw;
          height: 101.333vw;
          border-width: 5.333vw;
          -webkit-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          -moz-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
          &::before {
            -webkit-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(
                197,
                251,
                27,
                0.6
              ) inset;
            -moz-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
            box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
          }
        }
        .form-container {
          background-image: url(../images/hosting/form-bg-mobile.svg.svg);
          backdrop-filter: blur(5.333vw);
          .form__title {
            width: 100%;
            gap: 2.667vw;
            margin: 0 auto 0 0;
            h2 {
              font-size: 8.533vw;
              line-height: 9.867vw;
            }
            span {
              font-size: 5.905vw;
              line-height: 6.667vw;
            }
            .form__subtitle {
                justify-content: flex-start;
                margin: 0 0 0 12.533vw;
              gap: 6.667vw;
              img {
                width: 8vw;
                height: 8vw;
                transform: scale(2.8) translateY(2%);
              }
              span {
                font-size: 5.905vw;
                line-height: 6.667vw;
                text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .form__application-form {
            gap: 5vw;
            span {
              font-size: 6.385vw;
              line-height: 7.467vw;
            }
            .checkbox-evaluate {
              gap: 6.667vw;
              .checkbox-button {
                gap: 2.133vw;
                span {
                  width: 4.267vw;
                  height: 4.267vw;
                  border-width: 0.4vw;
                  border-radius: 0.656vw;
                  .checkbox-img {
                    width: 6.667vw;
                  }
                }
                &::after {
                  font-size: 3.937vw;
                  line-height: 4.533vw;
                }
                &.active {
                  transform: scale(1.14);
                  span {
                    border-width: 0.4vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

