@media only screen and (max-width: 1280px) {
  body .wrapper .hosting {
    padding: 6.836vw 0 0 0;
  }
  body .wrapper .hosting .hosting-circle {
    width: 152.788vw;
    height: 152.788vw;
    right: 18.945vw;
    bottom: -9.375vw;
    border-width: 1.66vw;
    box-shadow: 0vw 0vw 7.129vw 1.172vw rgba(248, 0, 104, 0.58);
  }
  body .wrapper .hosting .hosting-circle::before {
    box-shadow: 0vw 0vw 7.129vw -1.758vw rgba(248, 0, 104, 0.58) inset;
  }
  body .wrapper .hosting .hosting__continer {
    width: 95.703vw;
  }
  body .wrapper .hosting .hosting__continer .hosting-title {
    padding: 0 3.906vw;
    height: 7.422vw;
    border-radius: 1.465vw;
    -webkit-backdrop-filter: blur(1.953vw);
            backdrop-filter: blur(1.953vw);
  }
  body .wrapper .hosting .hosting__continer .hosting-title h1 {
    font-size: 3.711vw;
    line-height: 4.297vw;
    text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .hosting .hosting__continer .hosting-title h1 span {
    font-size: 3.711vw;
    line-height: 4.297vw;
    text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper {
    padding: 1.66vw 0 6.836vw 0;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem {
    width: 30.817vw;
    padding: 3.418vw;
    -webkit-backdrop-filter: blur(1.042vw);
            backdrop-filter: blur(1.042vw);
    border-radius: 1.465vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul span {
    font-size: 3.771vw;
    line-height: 4.297vw;
    margin: 0 0 0.488vw 0;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul li {
    font-size: 1.442vw;
    line-height: 1.66vw;
    gap: 0.977vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem ul li img {
    width: 2.441vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(1) {
    background-image: url(../images/hosting/border-elem1.svg);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(2) {
    background-image: url(../images/hosting/border-elem2.svg);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:nth-child(3) {
    background-image: url(../images/hosting/border-elem3.svg);
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem span {
    margin: 0.684vw 0 0.488vw 0;
    font-size: 2.884vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .left-block strong,
body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .right-block strong {
    font-size: 3.845vw;
    line-height: 4.395vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .left-block p,
body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem .buttom-block .right-block p {
    font-size: 1.588vw;
  }
  body .wrapper .hosting .hosting__continer .hosting__elem-wrapper .hosting-elem:hover {
    transform: translateY(-1%);
  }
  body .wrapper .form {
    z-index: 1;
  }
  body .wrapper .form .form__green-circle {
    width: 37.109vw;
    height: 37.109vw;
    border-width: 1.953vw;
    box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
  }
  body .wrapper .form .form__green-circle::before {
    box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
  }
  body .wrapper .form .form-container .form__title {
    width: 24.902vw;
    gap: 0.977vw;
  }
  body .wrapper .form .form-container .form__title h2 {
    font-size: 3.403vw;
    line-height: 3.906vw;
  }
  body .wrapper .form .form-container .form__title span {
    font-size: 2.163vw;
    line-height: 2.441vw;
  }
  body .wrapper .form .form-container .form__title .form__subtitle {
    margin: 0 0 0 2.93vw;
    gap: 2.441vw;
  }
  body .wrapper .form .form-container .form__title .form__subtitle img {
    width: 2.93vw;
    height: 2.93vw;
    transform: scale(2.8) translateY(2%);
  }
  body .wrapper .form .form-container .form__title .form__subtitle span {
    font-size: 2.163vw;
    line-height: 2.441vw;
    text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .form .form-container .form__application-form {
    gap: 2vw;
  }
  body .wrapper .form .form-container .form__application-form span {
    font-size: 2.338vw;
    line-height: 2.734vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate {
    gap: 2.441vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button {
    gap: 0.781vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button span {
    width: 1.563vw;
    height: 1.563vw;
    border-width: 0.146vw;
    border-radius: 0.24vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button span .checkbox-img {
    width: 2.441vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button::after {
    font-size: 1.442vw;
    line-height: 1.66vw;
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button.active {
    transform: scale(1.14);
  }
  body .wrapper .form .form-container .form__application-form .checkbox-evaluate .checkbox-button.active span {
    border-width: 0.146vw;
  }
}/*# sourceMappingURL=hosting1024.css.map */