@media only screen and (max-width: 1280px) {
  body .wrapper .news {
    padding: 9.896vw 0 0 0;
  }
  body .wrapper .news .purple-circle {
    right: 0;
    top: 14.669vw;
    width: 77.529vw;
    height: 75.39vw;
    border: 1.855vw solid #f80068;
    box-shadow: 0vw 0vw 6.054vw 4.883vw rgba(248, 0, 104, 0.37);
  }
  body .wrapper .news .purple-circle::after {
    box-shadow: 0vw 0vw 6.054vw 0.292vw rgba(248, 0, 104, 0.37) inset;
  }
  body .wrapper .news .orange-circle {
    right: 11.719vw;
    bottom: 60.547vw;
    width: 29.297vw;
    height: 29.297vw;
    border: 1.659vw solid #dd351b;
    box-shadow: 0vw 0vw 9.765vw 4.688vw rgba(221, 53, 27, 0.58);
  }
  body .wrapper .news .orange-circle::before {
    box-shadow: 0vw 0vw 5.762vw -2.246vw rgba(221, 53, 27, 0.58) inset;
  }
  body .wrapper .news .green-circle {
    left: 0;
    bottom: 155.235vw;
    width: 37.109vw;
    height: 37.109vw;
    border-width: 1.953vw;
    box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
  }
  body .wrapper .news .green-circle::before {
    box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
  }
  body .wrapper .news .news__container {
    width: 95.703vw;
    border: 0.292vw solid rgba(163, 161, 161, 0.2);
    -webkit-backdrop-filter: blur(1.954vw);
            backdrop-filter: blur(1.954vw);
    background: radial-gradient(72.86% 72.86% at 76.53% 61.38%, rgba(0, 0, 0, 0) 23.75%, rgba(248, 0, 104, 0.076) 76.87%, rgba(205, 82, 134, 0.05) 93.02%) rgba(255, 255, 255, 0.01);
    border-radius: 2.441vw;
  }
  body .wrapper .news .news__container .back {
    padding: 2.93vw 0 0 1.953vw;
    gap: 1.464vw;
    font-size: 1.758vw;
  }
  body .wrapper .news .news__container .back img {
    width: 1.465vw;
    padding: 0.2% 0 0 0;
  }
  body .wrapper .news .news__container .back:hover img {
    -webkit-animation: none;
            animation: none;
  }
  body .wrapper .news .news__container .date {
    padding: 0.977vw 0 0 1.953vw;
    font-size: 1.758vw;
    line-height: 100%;
  }
  body .wrapper .news .news__container .news__container-mini {
    padding: 0 0 2.93vw 0;
    width: 83.008vw;
  }
  body .wrapper .news .news__container .news__container-mini h1 {
    padding: 3.906vw 0 0 0;
    font-size: 3.711vw;
    line-height: 4.297vw;
    text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .news .news__container .news__container-mini .preview {
    margin: 2.93vw 0 0 0;
    width: 100%;
    height: 56.641vw;
    border-radius: 2.441vw;
  }
  body .wrapper .news .news__container .news__container-mini .gallery {
    padding: 2.93vw 0 0 0;
    gap: 0.977vw;
  }
  body .wrapper .news .news__container .news__container-mini .gallery img {
    width: calc(50% - 0.488vw);
    height: 29.297vw;
    border-radius: 2.441vw;
  }
  body .wrapper .news .news__container .news__container-mini p {
    padding: 2.93vw 0 0 0;
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .news .news__container .news__container-mini span {
    margin: 2.93vw 0 0 0;
    padding: 0 0 0 2.539vw;
    border-left: 0.195vw solid #c5fb1b;
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .news .news__container .news__container-mini h2 {
    padding: 2.93vw 0 0 0;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 100%;
  }
  body .wrapper .news .news__container .news__container-mini ul {
    gap: 0.977vw;
    padding: 2.93vw 0 0 0;
    font-weight: 700;
    font-size: 3.125vw;
    line-height: 100%;
  }
  body .wrapper .news .news__container .news__container-mini ul li {
    gap: 0.977vw;
    font-weight: 400;
    font-size: 1.758vw;
    line-height: 2.539vw;
    text-transform: capitalize;
    color: #ffffff;
  }
  body .wrapper .news .news__container .news__container-mini ul li::before {
    width: 0.684vw;
    height: 0.684vw;
  }
  body .wrapper .news .news__container .news__container-mini a {
    margin: 2.93vw 0;
    font-size: 1.953vw;
    line-height: 100%;
    padding: 0 1.465vw 0 0;
    border: 0.097vw solid #c5fb1b;
    border-radius: 10.995px;
  }
  body .wrapper .news .news__container .news__container-mini a img:first-child {
    width: 4.395vw;
    height: auto;
    transform: translateY(-10%);
  }
  body .wrapper .news .news__container .news__container-mini a img:last-child {
    padding: 0.6% 0 0 0;
    width: 1.758vw;
    height: auto;
    margin: 0 0 0 1.464vw;
  }
  body .wrapper .news .news__container .news__container-mini a:hover img:last-child {
    -webkit-animation: none;
            animation: none;
  }
  body .wrapper .news .similar-news {
    width: 95.703vw;
  }
  body .wrapper .news .similar-news h3 {
    padding: 5.859vw 0 0 0;
    font-size: 3.125vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper {
    padding: 1.66vw 0 6.836vw 0;
    grid-template-rows: 39.063vw;
    gap: 0.977vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem {
    padding: 0 0 2.93vw 0;
    border-radius: 2.441vw;
    -webkit-backdrop-filter: blur(1.963vw);
            backdrop-filter: blur(1.963vw);
    border: 0.195vw solid rgba(163, 161, 161, 0.2);
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .img-container {
    width: 100%;
    height: 20.508vw;
    border-radius: 2.441vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .img-container img {
    height: 20.508vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem h2 {
    padding: 0 2.93vw 0 2.93vw;
    font-size: 1.758vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem p {
    padding: 0 2.93vw 0 2.93vw;
    font-weight: 400;
    font-size: 1.605vw;
    text-transform: capitalize;
    color: #fffdfd;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .arrow {
    display: none;
  }
}/*# sourceMappingURL=news1024.css.map */