@media only screen and (max-width: 600px) {
  body {
    .wrapper {
      .news {
        padding: 26.667vw 0 0 0;
        .purple-circle {
          right: 0;
          top: 150.208px;
          width: 793.901px;
          height: 771.994px;
          border: 18.998px solid #f80068;
          -webkit-box-shadow: 0px 0px 61.997px 49.997px rgba(248, 0, 104, 0.37);
          -moz-box-shadow: 0px 0px 61.997px 49.997px rgba(248, 0, 104, 0.37);
          box-shadow: 0px 0px 61.997px 49.997px rgba(248, 0, 104, 0.37);
          &::after {
            -webkit-box-shadow: 0px 0px 61.997px 2.995px rgba(248, 0, 104, 0.37)
              inset;
            -moz-box-shadow: 0px 0px 61.997px 2.995px rgba(248, 0, 104, 0.37)
              inset;
            box-shadow: 0px 0px 61.997px 2.995px rgba(248, 0, 104, 0.37) inset;
          }
        }
        .orange-circle {
            right: 120px;
            bottom: 2006px;
            width: 300px;
            height: 300px;
            border: 10.992px solid #dd351b;
          -webkit-box-shadow: 0px 0px 99.994px 48px rgba(221, 53, 27, 0.58);
          -moz-box-shadow: 0px 0px 99.994px 48px rgba(221, 53, 27, 0.58);
          box-shadow: 0px 0px 99.994px 48px rgba(221, 53, 27, 0.58);
          &::before {
            -webkit-box-shadow: 0px 0px 59.002px -23.002px rgba(
                221,
                53,
                27,
                0.58
              ) inset;
            -moz-box-shadow: 0px 0px 59.002px -23.002px rgba(221, 53, 27, 0.58) inset;
            box-shadow: 0px 0px 59.002px -23.002px rgba(221, 53, 27, 0.58) inset;
          }
        }
        .green-circle {
            left: 199px;
            bottom: 1057.606px;
            width: 100vw;
            height: 100vw;
            border-width: 3.953vw;
            box-shadow: 0vw 0vw 3.711vw 2.172vw rgb(197 251 27 / 60%);
          -webkit-box-shadow: 0vw 0vw 3.711vw  2.172vw rgba(197, 251, 27, 0.6);
          -moz-box-shadow: 0vw 0vw 3.711vw  2.172vw rgba(197, 251, 27, 0.6);
          box-shadow: 0vw 0vw 3.711vw  2.172vw rgba(197, 251, 27, 0.6);
          &::before {
            -webkit-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6)
              inset;
            -moz-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
            box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
          }
        }
        .news__container {
          width: 90.667vw;
          padding: 15px 5.333vw 5.333vw 5.333vw;
          border: 2.995px solid rgba(163, 161, 161, 0.2);
          backdrop-filter: blur(20.006px);
          background: radial-gradient(
              72.86% 72.86% at 76.53% 61.38%,
              rgba(0, 0, 0, 0) 23.75%,
              rgba(248, 0, 104, 0.076) 76.87%,
              rgba(205, 82, 134, 0.05) 93.02%
            )
            rgba(255, 255, 255, 0.01);
          border-radius: 15px;
          .back {
            padding: 0;
            gap: 5px;
            font-size: 16px;
            img {
              width: 10px;
              padding: 0.2% 0 0 0;
            }
          }
          .date {
            padding: 5px 0 0 0;
            font-size: 16px;
          }
          .news__container-mini {
            padding: 0;
            width: 100%;
            h1 {
              padding: 20px 0 0 0;
              font-size: 26px;
              line-height: 100%;
              text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
            }
            .preview {
              margin: 20px 0 0 0;
              width: 100%;
              height: 200px;
              border-radius: 15px;
            }
            .gallery {
              padding: 20px 0 0 0;
              gap: 5px;
              img {
                width: calc(50% - 2.5px);
                height: 120px;
                border-radius: 15px;
              }
            }
            p {
              padding: 20px 0 0 0;
              font-size: 14px;
              line-height: 18px;
            }
            span {
              margin: 20px 0 0 0;
              padding: 0 0 0 15px;
              border-left: 2px solid #c5fb1b;
              font-size: 14px;
              line-height: 18px;
            }
            h2 {
              padding: 20px 0 0 0;
              font-size: 24px;
            }
            ul {
              gap: 10px;
              padding: 20px 0 0 0;
              font-size: 24px;
              li {
                gap: 10.003px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                &::before {
                  width: 5.003px;
                  height: 5.003px;
                }
              }
            }
            a {
              width: 100%;
              justify-content: space-between;
              margin: 20px 0 0 0;
              font-size: 18px;
              line-height: 100%;
              padding: 0 15.006px 0 0;
              border: 1px solid #c5fb1b;
              border-radius: 10.995px;
              img {
                &:first-child {
                  width: 45.003px;
                }
                &:last-child {
                  padding: 0.6% 0 0 0;
                  width: 18px;
                  margin: 0 0 0 14.995px;
                }
              }
            }
          }
        }
        .similar-news {
          width: 90.667vw;
          h3 {
            padding:18.667vw 0 0 0;
            font-size: 26px;
          }
          .news-elem-wrapper {
            padding: 20px 0 0 0;
            grid-template-columns: 1fr;
            grid-template-rows: 400px 400px 400px;
            gap: 10px;
            .news-elem {
              padding: 0 0 30px 0;
              border-radius: 15px;
              backdrop-filter: blur(20.102px);
              border: 2px solid rgba(163, 161, 161, 0.2);
              .img-container {
                width: 100%;
                height: 210px;
                border-radius: 15px;
                img {
                  height: 210px;
                }
              }
              h2 {
                padding: 0 5.333vw 0 5.333vw;
                font-size: 18px;
              }
              p {
                padding: 0 5.333vw 0 5.333vw;
                font-weight: 400;
                font-size: 16.438px;
                text-transform: capitalize;
                color: #fffdfd;
              }
              .arrow {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
