@media only screen and (max-width: 600px) {
  body .wrapper .news {
    padding: 26.667vw 0 0 0;
  }
  body .wrapper .news .purple-circle {
    right: 0;
    top: 40.055vw;
    width: 211.707vw;
    height: 205.865vw;
    border: 5.066vw solid #f80068;
    box-shadow: 0vw 0vw 16.533vw 13.333vw rgba(248, 0, 104, 0.37);
  }
  body .wrapper .news .purple-circle::after {
    box-shadow: 0vw 0vw 16.533vw 0.799vw rgba(248, 0, 104, 0.37) inset;
  }
  body .wrapper .news .orange-circle {
    right: 32vw;
    bottom: 534.933vw;
    width: 80vw;
    height: 80vw;
    border: 2.931vw solid #dd351b;
    box-shadow: 0vw 0vw 26.665vw 12.8vw rgba(221, 53, 27, 0.58);
  }
  body .wrapper .news .orange-circle::before {
    box-shadow: 0vw 0vw 15.734vw -6.134vw rgba(221, 53, 27, 0.58) inset;
  }
  body .wrapper .news .green-circle {
    left: 53.067vw;
    bottom: 282.028vw;
    width: 100vw;
    height: 100vw;
    border-width: 3.953vw;
    box-shadow: 0vw 0vw 3.711vw 2.172vw rgba(197, 251, 27, 0.6);
    box-shadow: 0vw 0vw 3.711vw 2.172vw rgba(197, 251, 27, 0.6);
  }
  body .wrapper .news .green-circle::before {
    box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
  }
  body .wrapper .news .news__container {
    width: 90.667vw;
    padding: 4vw 5.333vw 5.333vw 5.333vw;
    border: 0.799vw solid rgba(163, 161, 161, 0.2);
    -webkit-backdrop-filter: blur(5.335vw);
            backdrop-filter: blur(5.335vw);
    background: radial-gradient(72.86% 72.86% at 76.53% 61.38%, rgba(0, 0, 0, 0) 23.75%, rgba(248, 0, 104, 0.076) 76.87%, rgba(205, 82, 134, 0.05) 93.02%) rgba(255, 255, 255, 0.01);
    border-radius: 4vw;
  }
  body .wrapper .news .news__container .back {
    padding: 0;
    gap: 1.333vw;
    font-size: 4.267vw;
  }
  body .wrapper .news .news__container .back img {
    width: 2.667vw;
    padding: 0.2% 0 0 0;
  }
  body .wrapper .news .news__container .date {
    padding: 1.333vw 0 0 0;
    font-size: 4.267vw;
  }
  body .wrapper .news .news__container .news__container-mini {
    padding: 0;
    width: 100%;
  }
  body .wrapper .news .news__container .news__container-mini h1 {
    padding: 5.333vw 0 0 0;
    font-size: 6.933vw;
    line-height: 100%;
    text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
  }
  body .wrapper .news .news__container .news__container-mini .preview {
    margin: 5.333vw 0 0 0;
    width: 100%;
    height: 53.333vw;
    border-radius: 4vw;
  }
  body .wrapper .news .news__container .news__container-mini .gallery {
    padding: 5.333vw 0 0 0;
    gap: 1.333vw;
  }
  body .wrapper .news .news__container .news__container-mini .gallery img {
    width: calc(50% - 0.667vw);
    height: 32vw;
    border-radius: 4vw;
  }
  body .wrapper .news .news__container .news__container-mini p {
    padding: 5.333vw 0 0 0;
    font-size: 3.733vw;
    line-height: 4.8vw;
  }
  body .wrapper .news .news__container .news__container-mini span {
    margin: 5.333vw 0 0 0;
    padding: 0 0 0 4vw;
    border-left: 0.533vw solid #c5fb1b;
    font-size: 3.733vw;
    line-height: 4.8vw;
  }
  body .wrapper .news .news__container .news__container-mini h2 {
    padding: 5.333vw 0 0 0;
    font-size: 6.4vw;
  }
  body .wrapper .news .news__container .news__container-mini ul {
    gap: 2.667vw;
    padding: 5.333vw 0 0 0;
    font-size: 6.4vw;
  }
  body .wrapper .news .news__container .news__container-mini ul li {
    gap: 2.667vw;
    font-weight: 400;
    font-size: 3.733vw;
    line-height: 4.8vw;
  }
  body .wrapper .news .news__container .news__container-mini ul li::before {
    width: 1.334vw;
    height: 1.334vw;
  }
  body .wrapper .news .news__container .news__container-mini a {
    width: 100%;
    justify-content: space-between;
    margin: 5.333vw 0 0 0;
    font-size: 4.8vw;
    line-height: 100%;
    padding: 0 4.002vw 0 0;
    border: 0.267vw solid #c5fb1b;
    border-radius: 2.932vw;
  }
  body .wrapper .news .news__container .news__container-mini a img:first-child {
    width: 12.001vw;
  }
  body .wrapper .news .news__container .news__container-mini a img:last-child {
    padding: 0.6% 0 0 0;
    width: 4.8vw;
    margin: 0 0 0 3.999vw;
  }
  body .wrapper .news .similar-news {
    width: 90.667vw;
  }
  body .wrapper .news .similar-news h3 {
    padding: 18.667vw 0 0 0;
    font-size: 6.933vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper {
    padding: 5.333vw 0 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: 106.667vw 106.667vw 106.667vw;
    gap: 2.667vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem {
    padding: 0 0 8vw 0;
    border-radius: 4vw;
    -webkit-backdrop-filter: blur(5.361vw);
            backdrop-filter: blur(5.361vw);
    border: 0.533vw solid rgba(163, 161, 161, 0.2);
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .img-container {
    width: 100%;
    height: 56vw;
    border-radius: 4vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .img-container img {
    height: 56vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem h2 {
    padding: 0 5.333vw 0 5.333vw;
    font-size: 4.8vw;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem p {
    padding: 0 5.333vw 0 5.333vw;
    font-weight: 400;
    font-size: 4.383vw;
    text-transform: capitalize;
    color: #fffdfd;
  }
  body .wrapper .news .similar-news .news-elem-wrapper .news-elem .arrow {
    display: none;
  }
}/*# sourceMappingURL=news375.css.map */