@media only screen and (max-width: 1280px) {
  body {
    .wrapper {
      .news {
        padding: 9.896vw 0 0 0;
        .purple-circle {
          right: 0;
          top: 14.669vw;
          width: 77.529vw;
          height: 75.39vw;
          border: 1.855vw solid #f80068;
          -webkit-box-shadow: 0vw 0vw 6.054vw 4.883vw rgba(248, 0, 104, 0.37);
          -moz-box-shadow: 0vw 0vw 6.054vw 4.883vw rgba(248, 0, 104, 0.37);
          box-shadow: 0vw 0vw 6.054vw 4.883vw rgba(248, 0, 104, 0.37);
          &::after {
            -webkit-box-shadow: 0vw 0vw 6.054vw 0.292vw rgba(248, 0, 104, 0.37)
              inset;
            -moz-box-shadow: 0vw 0vw 6.054vw 0.292vw rgba(248, 0, 104, 0.37)
              inset;
            box-shadow: 0vw 0vw 6.054vw 0.292vw rgba(248, 0, 104, 0.37) inset;
          }
        }
        .orange-circle {
          right: 11.719vw;
          bottom: 60.547vw;
          width: 29.297vw;
          height: 29.297vw;
          border: 1.659vw solid #dd351b;
          -webkit-box-shadow: 0vw 0vw 9.765vw 4.688vw rgba(221, 53, 27, 0.58);
          -moz-box-shadow: 0vw 0vw 9.765vw 4.688vw rgba(221, 53, 27, 0.58);
          box-shadow: 0vw 0vw 9.765vw 4.688vw rgba(221, 53, 27, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 5.762vw -2.246vw rgba(
                221,
                53,
                27,
                0.58
              ) inset;
            -moz-box-shadow: 0vw 0vw 5.762vw -2.246vw rgba(221, 53, 27, 0.58) inset;
            box-shadow: 0vw 0vw 5.762vw -2.246vw rgba(221, 53, 27, 0.58) inset;
          }
        }
        .green-circle {
          left: 0;
          bottom: 155.235vw;
          width: 37.109vw;
          height: 37.109vw;
          border-width: 1.953vw;
          -webkit-box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          -moz-box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          box-shadow: 0vw 0vw 3.711vw 1.172vw rgba(197, 251, 27, 0.6);
          &::before {
            -webkit-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
            -moz-box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
            box-shadow: 0vw 0vw 3.711vw -0.977vw rgba(197, 251, 27, 0.6) inset;
          }
        }
        .news__container {
          width: 95.703vw;
          border: 0.292vw solid rgba(163, 161, 161, 0.2);
          backdrop-filter: blur(1.954vw);
          background: radial-gradient(
              72.86% 72.86% at 76.53% 61.38%,
              rgba(0, 0, 0, 0) 23.75%,
              rgba(248, 0, 104, 0.076) 76.87%,
              rgba(205, 82, 134, 0.05) 93.02%
            )
            rgba(255, 255, 255, 0.01);
          border-radius: 2.441vw;
          .back {
            padding: 2.93vw 0 0 1.953vw;
            gap: 1.464vw;
            font-size: 1.758vw;
            img {
              width: 1.465vw;
              padding: 0.2% 0 0 0;
            }
            &:hover {
              img {
                animation: none;
              }
            }
          }
          .date {
            padding: 0.977vw 0 0 1.953vw;
            font-size: 1.758vw;
            line-height: 100%;
          }
          .news__container-mini {
            padding: 0 0 2.93vw 0;
            width: 83.008vw;
            h1 {
              padding: 3.906vw 0 0 0;
              font-size: 3.711vw;
              line-height: 4.297vw;
              text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
            }
            .preview {
              margin: 2.93vw 0 0 0;
              width: 100%;
              height: 56.641vw;
              border-radius: 2.441vw;
            }
            .gallery {
              padding: 2.93vw 0 0 0;
              gap: 0.977vw;
              img {
                width: calc(50% - 0.488vw);
                height: 29.297vw;
                border-radius: 2.441vw;
              }
            }
            p {
              padding: 2.93vw 0 0 0;
              font-size: 1.758vw;
              line-height: 2.539vw;
            }
            span {
              margin: 2.93vw 0 0 0;
              padding: 0 0 0 2.539vw;
              border-left: 0.195vw solid #c5fb1b;
              font-size: 1.758vw;
              line-height: 2.539vw;
            }
            h2 {
              padding: 2.93vw 0 0 0;
              font-weight: 700;
              font-size: 3.125vw;
              line-height: 100%;
            }
            ul {
              gap: 0.977vw;
              padding: 2.93vw 0 0 0;
              font-weight: 700;
              font-size: 3.125vw;
              line-height: 100%;
              li {
                gap: 0.977vw;
                font-weight: 400;
                font-size: 1.758vw;
                line-height: 2.539vw;
                text-transform: capitalize;
                color: #ffffff;
                &::before {
                  width: 0.684vw;
                  height: 0.684vw;
                }
              }
            }
            a {
              margin: 2.93vw 0;
              font-size: 1.953vw;
              line-height: 100%;
              padding: 0 1.465vw 0 0;
              border: 0.097vw solid #c5fb1b;
              border-radius: 10.995px;
              img {
                &:first-child {
                  width: 4.395vw;
                  height: auto;
                  transform: translateY(-10%);
                }
                &:last-child {
                  padding: 0.6% 0 0 0;
                  width: 1.758vw;
                  height: auto;
                  margin: 0 0 0 1.464vw;
                }
              }
              &:hover {
                img {
                  &:last-child {
                    animation: none;
                  }
                }
              }
            }
          }
        }
        .similar-news {
          width: 95.703vw;
          h3 {
            padding: 5.859vw 0 0 0;
            font-size: 3.125vw;
          }
          .news-elem-wrapper {
            padding: 1.66vw 0 6.836vw 0;
            grid-template-rows: 39.063vw;
            gap: 0.977vw;
            .news-elem {
              padding: 0 0 2.93vw 0;
              border-radius: 2.441vw;
              backdrop-filter: blur(1.963vw);
              border: 0.195vw solid rgba(163, 161, 161, 0.2);
              .img-container {
                width: 100%;
                height: 20.508vw;
                border-radius: 2.441vw;
                img {
                  height: 20.508vw;
                }
              }
              h2 {
                padding: 0 2.93vw 0 2.93vw;
                font-size: 1.758vw;
              }
              p {
                padding: 0 2.93vw 0 2.93vw;
                font-weight: 400;
                font-size: 1.605vw;
                text-transform: capitalize;
                color: #fffdfd;
              }
              .arrow {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
