body {
  .wrapper {
    .directions {
      position: relative;
      width: 100%;
      height: auto;
      padding: 9.896vw 0 0 0;
      z-index: 1;
      .purple-circle {
        position: absolute;
        right: -40vw;
        top: 10.74vw;
        width: 70.349vw;
        height: 70.208vw;
        border-radius: 100%;
        border: 1.302vw solid #f80068;
        -webkit-box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
        -moz-box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
        box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          -webkit-box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37)
            inset;
          -moz-box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37) inset;
          box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37) inset;
          border-radius: 100%;
        }
      }

      .orange-circle {
        position: absolute;
        left: 4vw;
        bottom: 11.417vw;
        width: 23.522vw;
        height: 23.522vw;
        border-radius: 100%;
        border: 0.885vw solid #dd351b;
        -webkit-box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
        -moz-box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
        box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
        &::before {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 100%;
          -webkit-box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
          -moz-box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
          box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
        }
      }
      .green-circle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -33vw;
        width: 32.083vw;
        height: 32.083vw;
        border-radius: 100%;
        border: 1.667vw solid #c5fb1b;
        -webkit-box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        -moz-box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          -webkit-box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
          -moz-box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
          box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
          z-index: 0;
        }
      }
      .directions__continer {
        width: 84.375vw;
        margin: 0 auto;
        .directions__title {
          display: flex;
          align-items: center;
          padding: 0 3.385vw;
          position: relative;
          width: 100%;
          height: 6.51vw;
          border-radius: 1.302vw;
          backdrop-filter: blur(1.042vw);
          background-image: url(../images/portfolio/portfolio-blur.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          h1 {
            font-weight: bold;
            font-size: 3.333vw;
            line-height: 3.854vw;
            text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
            color: #ffffff;
            span {
              font-weight: bold;
              font-size: 3.333vw;
              line-height: 3.854vw;
              text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              background-image: linear-gradient(
                273.4deg,
                #c5fb1b -0.96%,
                #fe6b00 37.16%
              );
            }
          }
        }
        .directions__wrapper {
          padding: 2.344vw 0 7.292vw 0;
          display: flex;
          justify-content: space-between;
          .left-block {
            width: 41.667vw;

            .content {
              padding: 2.344vw;
              background: linear-gradient(
                  299.36deg,
                  rgba(0, 0, 0, 0) -3.3%,
                  rgba(248, 0, 104, 0.076) 61.92%,
                  rgba(205, 82, 134, 0.05) 81.74%
                ),
                rgba(255, 255, 255, 0.01);
              border: 0.156vw solid rgba(163, 161, 161, 0.2);
              backdrop-filter: blur(1.042vw);
              border-radius: 1.302vw;
              .author-container {
                display: flex;
                align-items: center;
                gap: 2.083vw;

                img {
                  width: 13.021vw;
                  height: 13.021vw;
                  object-fit: cover;
                  border-radius: 100%;
                }
                .author {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 0.521vw;
                  span {
                    font-weight: 700;
                    font-size: 2.794vw;
                    line-height: 100%;
                    text-transform: uppercase;
                    background: linear-gradient(
                      268.31deg,
                      #c5fb1b 55.9%,
                      #fe8900 110.78%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                  }
                  strong {
                    font-weight: 700;
                    font-size: 2.794vw;
                    line-height: 100%;
                    text-transform: lowercase;
                    color: #f80068;
                  }
                }
              }
              p {
                margin: 1.042vw 0 0 0;
                font-weight: 400;
                font-size: 1.572vw;
                line-height: 100%;
                text-transform: capitalize;
                color: #efefef;
                line-height: 140%;
              }
            }
            a {
              padding: 0 2.083vw 0 0.26vw;
              margin: 3.125vw 0 0 0;
              display: inline-flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 700;
              font-size: 2.794vw;
              line-height: 100%;
              backdrop-filter: blur(1.042vw);
              border-radius: 1.302vw 10.417vw 10.417vw 1.302vw;
              background: radial-gradient(
                    117.95% 114.83% at 114.98% 113.2%,
                    rgba(205, 33, 95, 0.1188) 0%,
                    rgba(124, 248, 0, 0.132) 24.5%,
                    rgba(255, 0, 46, 0.308) 100%
                  )
                  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
                rgba(255, 255, 255, 0.01);
              width: 100%;
              height: 6.51vw;

              border: 0.156vw solid rgba(163, 161, 161, 0.2);

              color: #c4fb17;
              img {
                &:first-child {
                  width: 5.646vw;
                  height: auto;
                  transform: translateY(-10%);
                }
                &:last-child {
                  padding: 0.6% 0 0 0;
                  width: 2vw;
                  height: auto;
                  margin: 0 0 0 0.781vw;
                }
              }
              &:hover {
                img {
                  &:last-child {
                    animation: 1s portfolio__button-arrow linear infinite;
                  }
                }
              }
            }
          }
          .right-block {
            width: 41.667vw;
            display: flex;
            flex-direction: column;
            gap: 1.198vw;
            .block {
              padding: 2.344vw;
              width: 100%;
              background: linear-gradient(
                  299.36deg,
                  rgba(0, 0, 0, 0) -3.3%,
                  rgba(248, 0, 104, 0.076) 61.92%,
                  rgba(205, 82, 134, 0.05) 81.74%
                ),
                rgba(255, 255, 255, 0.01);
              border: 0.156vw solid rgba(163, 161, 161, 0.2);
              backdrop-filter: blur(5.564vw);
              border-radius: 1.302vw;
              h2 {
                font-weight: 700;
                font-size: 2.794vw;
                line-height: 100%;
                background: linear-gradient(
                  268.31deg,
                  #c5fb1b 55.9%,
                  #fe8900 110.78%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
              p {
                margin: 1.042vw 0 0 0;
                font-weight: 400;
                font-size: 1.572vw;
                line-height: 140%;
                text-transform: capitalize;
                color: #efefef;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1280px) {
  body {
    .wrapper {
      .directions {
        padding: 6.836vw 0 0 0;
        .purple-circle {
          right: -40vw;
          top: 10.74vw;
          width: 70.349vw;
          height: 70.208vw;
          border: 1.302vw solid #f80068;
          -webkit-box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
          -moz-box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
          box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
          &::after {
            -webkit-box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37)
              inset;
            -moz-box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37)
              inset;
            box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37) inset;
          }
        }
        .orange-circle {
          left: 4vw;
          bottom: 11.417vw;
          width: 23.522vw;
          height: 23.522vw;
          border-radius: 100%;
          border: 0.885vw solid #dd351b;
          -webkit-box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
          -moz-box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
          box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58)
              inset;
            -moz-box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
            box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
          }
        }
        .directions__continer {
          width: 95.703vw;
          .directions__title {
            padding: 0 3.906vw;
            height: 7.422vw;
            border-radius: 1.465vw;
            backdrop-filter: blur(1.953vw);
            h1 {
              font-size: 3.711vw;
              line-height: 4.297vw;
              text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
              span {
                font-size: 3.711vw;
                line-height: 4.297vw;
                text-shadow: 0vw 0.098vw 0.098vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .directions__wrapper {
            padding: 1.66vw 0 6.836vw 0;
            .left-block {
              width: 46.973vw;
              .content {
                padding: 3.906vw;
                backdrop-filter: blur(1.953vw);
                border-radius: 1.465vw;
                border: 0.098vw solid rgba(163, 161, 161, 0.2);
                .author-container {
                  gap: 1.953vw;
                  img {
                    width: 14.648vw;
                    height: 14.648vw;
                  }
                  .author {
                    gap: 0.488vw;
                    span {
                      width: max-content;
                      font-size: 3.142vw;
                    }
                    strong {
                      font-size: 3.142vw;
                    }
                  }
                }
                p {
                  margin: 1.465vw 0 0 0;
                  font-size: 1.758vw;
                }
              }
              a {
                padding: 0 2.93vw 0 0.488vw;
                margin: 1.66vw 0 0 0;
                font-size: 3.125vw;
                backdrop-filter: blur(1.953vw);
                border-radius: 1.465vw 11.719vw 11.719vw 1.465vw;
                height: 7.324vw;
                border: 0.098vw solid rgba(163, 161, 161, 0.2);
                img {
                  &:first-child {
                    width: 6.646vw;
                  }
                  &:last-child {
                    padding: 0.6% 0 0 0;
                    width: 2.5vw;
                    height: auto;
                    margin: 0 0 0 1.953vw;
                  }
                }
                &:hover {
                  img {
                    &:last-child {
                      animation: none;
                    }
                  }
                }
              }
            }
            .right-block {
              width: 46.973vw;
              gap: 1.66vw;
              .block {
                padding: 3.906vw;
                border: 0.098vw solid rgba(163, 161, 161, 0.2);
                backdrop-filter: blur(2.034vw);
                border-radius: 1.465vw;
                h2 {
                  font-size: 3.125vw;
                }
                p {
                  margin: 1.465vw 0 0 0;
                  font-size: 1.758vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .wrapper {
      .directions {
        padding: 18.667vw 0 0 0;
        .purple-circle {
          
          top: 47.74vw;
          width: 284.392vw;
          height: 380.392vw;
          right: -197vw;
          bottom: auto;
          border-width: 5.333vw;
          -webkit-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          -moz-box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          box-shadow: 0vw 0vw 19.467vw 3.2vw rgba(248, 0, 104, 0.58);
          &::before {
            -webkit-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            -moz-box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
            box-shadow: 0vw 0vw 19.467vw -4.8vw rgba(248, 0, 104, 0.58) inset;
          }
        }
        .orange-circle {
         display: none;
        }
        .green-circle{
            bottom: -120vw;
            width: 101.333vw;
            height: 101.333vw;
            border-width: 5.333vw;
            -webkit-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
            -moz-box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
            box-shadow: 0vw 0vw 10.133vw 3.2vw rgba(197, 251, 27, 0.6);
            &::before {
              -webkit-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(
                  197,
                  251,
                  27,
                  0.6
                ) inset;
              -moz-box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
              box-shadow: 0vw 0vw 10.133vw -2.667vw rgba(197, 251, 27, 0.6) inset;
            }
        }
        .directions__continer {
          width: 90.667vw;
          .directions__title {
            width: 100%;
            padding: 0;
            height: auto;
            border-radius: 1.465vw;
            backdrop-filter: blur(0);
            background: none;
            h1 {
              font-size: 8.533vw;
              line-height: 9.867vw;
              text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              span {
                font-size: 8.533vw;
                line-height: 9.867vw;
                text-shadow: 0vw 0.267vw 0.267vw rgba(248, 136, 6, 0.25);
              }
            }
          }
          .directions__wrapper {
            padding: 4.533vw 0 18.667vw 0;
            flex-direction: column;
            .left-block {
              width: 100%;
              .content {
                padding: 5.333vw;
                backdrop-filter: blur(5.333vw);
                border-radius: 4vw;
                .author-container {
                  gap: 4vw;
                  img {
                    width: 26.667vw;
                    height: 26.667vw;
                  }
                  .author {
                    gap: 0.8vw;
                    span {
                      font-size: 5.333vw;
                    }
                    strong {
                      font-size: 5.333vw;
                    }
                  }
                }
                p {
                  margin: 4vw 0 0 0;
                  font-size: 4.267vw;
                }
              }
              a {
                padding: 0 8vw 0 1.333vw;
                margin: 4.533vw 0 4.533vw 0;
                font-size: 5.333vw;
                backdrop-filter: blur(5.333vw);
                border-radius: 4vw 32vw 32vw 4vw;
                height: 13.333vw;
                border: 0.267vw solid rgba(163, 161, 161, 0.2);
                img {
                  &:first-child {
                    width: 11vw;
                  }
                  &:last-child {
                    padding: 0.6% 0 0 0;
                    width: 5vw;
                    height: auto;
                    margin: 0 0 0 4vw;
                  }
                }
              }
            }
            .right-block {
              width: 100%;
              gap: 4.533vw;
              .block {
                padding: 5.333vw;
                border: 0.267vw solid rgba(163, 161, 161, 0.2);
                backdrop-filter: blur(5.554vw);
                border-radius: 4vw;
                h2 {
                  font-size: 5.333vw;
                }
                p {
                  margin: 4vw 0 0 0;
                  font-size: 4.267vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
