body .wrapper .directions {
  position: relative;
  width: 100%;
  height: auto;
  padding: 9.896vw 0 0 0;
  z-index: 1;
}
body .wrapper .directions .purple-circle {
  position: absolute;
  right: -40vw;
  top: 10.74vw;
  width: 70.349vw;
  height: 70.208vw;
  border-radius: 100%;
  border: 1.302vw solid #f80068;
  box-shadow: 0vw 0vw 3.229vw 2.604vw rgba(248, 0, 104, 0.37);
}
body .wrapper .directions .purple-circle::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0vw 0vw 3.229vw 0.156vw rgba(248, 0, 104, 0.37) inset;
  border-radius: 100%;
}
body .wrapper .directions .orange-circle {
  position: absolute;
  left: 4vw;
  bottom: 11.417vw;
  width: 23.522vw;
  height: 23.522vw;
  border-radius: 100%;
  border: 0.885vw solid #dd351b;
  box-shadow: 0vw 0vw 5.208vw 2.5vw rgba(221, 53, 27, 0.58);
}
body .wrapper .directions .orange-circle::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0vw 0vw 3.073vw -1.198vw rgba(221, 53, 27, 0.58) inset;
}
body .wrapper .directions .green-circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -33vw;
  width: 32.083vw;
  height: 32.083vw;
  border-radius: 100%;
  border: 1.667vw solid #c5fb1b;
  box-shadow: 0vw 0vw 2.969vw 1.354vw rgba(197, 251, 27, 0.6);
}
body .wrapper .directions .green-circle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0vw 0vw 1.979vw -0.521vw rgba(197, 251, 27, 0.6) inset;
  z-index: 0;
}
body .wrapper .directions .directions__continer {
  width: 84.375vw;
  margin: 0 auto;
}
body .wrapper .directions .directions__continer .directions__title {
  display: flex;
  align-items: center;
  padding: 0 3.385vw;
  position: relative;
  width: 100%;
  height: 6.51vw;
  border-radius: 1.302vw;
  -webkit-backdrop-filter: blur(1.042vw);
          backdrop-filter: blur(1.042vw);
  background-image: url(../images/portfolio/portfolio-blur.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .wrapper .directions .directions__continer .directions__title h1 {
  font-weight: bold;
  font-size: 3.333vw;
  line-height: 3.854vw;
  text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
  color: #ffffff;
}
body .wrapper .directions .directions__continer .directions__title h1 span {
  font-weight: bold;
  font-size: 3.333vw;
  line-height: 3.854vw;
  text-shadow: 0vw 0.052vw 0.052vw rgba(248, 136, 6, 0.25);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(273.4deg, #c5fb1b -0.96%, #fe6b00 37.16%);
}
body .wrapper .directions .directions__continer .directions__wrapper {
  padding: 2.344vw 0 7.292vw 0;
  display: flex;
  justify-content: space-between;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block {
  width: 41.667vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content {
  padding: 2.344vw;
  background: linear-gradient(299.36deg, rgba(0, 0, 0, 0) -3.3%, rgba(248, 0, 104, 0.076) 61.92%, rgba(205, 82, 134, 0.05) 81.74%), rgba(255, 255, 255, 0.01);
  border: 0.156vw solid rgba(163, 161, 161, 0.2);
  -webkit-backdrop-filter: blur(1.042vw);
          backdrop-filter: blur(1.042vw);
  border-radius: 1.302vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content .author-container {
  display: flex;
  align-items: center;
  gap: 2.083vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content .author-container img {
  width: 13.021vw;
  height: 13.021vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content .author-container .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.521vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content .author-container .author span {
  font-weight: 700;
  font-size: 2.794vw;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(268.31deg, #c5fb1b 55.9%, #fe8900 110.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content .author-container .author strong {
  font-weight: 700;
  font-size: 2.794vw;
  line-height: 100%;
  text-transform: lowercase;
  color: #f80068;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block .content p {
  margin: 1.042vw 0 0 0;
  font-weight: 400;
  font-size: 1.572vw;
  line-height: 100%;
  text-transform: capitalize;
  color: #efefef;
  line-height: 140%;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block a {
  padding: 0 2.083vw 0 0.26vw;
  margin: 3.125vw 0 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2.794vw;
  line-height: 100%;
  -webkit-backdrop-filter: blur(1.042vw);
          backdrop-filter: blur(1.042vw);
  border-radius: 1.302vw 10.417vw 10.417vw 1.302vw;
  background: radial-gradient(117.95% 114.83% at 114.98% 113.2%, rgba(205, 33, 95, 0.1188) 0%, rgba(124, 248, 0, 0.132) 24.5%, rgba(255, 0, 46, 0.308) 100%), rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 6.51vw;
  border: 0.156vw solid rgba(163, 161, 161, 0.2);
  color: #c4fb17;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block a img:first-child {
  width: 5.646vw;
  height: auto;
  transform: translateY(-10%);
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block a img:last-child {
  padding: 0.6% 0 0 0;
  width: 2vw;
  height: auto;
  margin: 0 0 0 0.781vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .left-block a:hover img:last-child {
  -webkit-animation: 1s portfolio__button-arrow linear infinite;
          animation: 1s portfolio__button-arrow linear infinite;
}
body .wrapper .directions .directions__continer .directions__wrapper .right-block {
  width: 41.667vw;
  display: flex;
  flex-direction: column;
  gap: 1.198vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .right-block .block {
  padding: 2.344vw;
  width: 100%;
  background: linear-gradient(299.36deg, rgba(0, 0, 0, 0) -3.3%, rgba(248, 0, 104, 0.076) 61.92%, rgba(205, 82, 134, 0.05) 81.74%), rgba(255, 255, 255, 0.01);
  border: 0.156vw solid rgba(163, 161, 161, 0.2);
  -webkit-backdrop-filter: blur(5.564vw);
          backdrop-filter: blur(5.564vw);
  border-radius: 1.302vw;
}
body .wrapper .directions .directions__continer .directions__wrapper .right-block .block h2 {
  font-weight: 700;
  font-size: 2.794vw;
  line-height: 100%;
  background: linear-gradient(268.31deg, #c5fb1b 55.9%, #fe8900 110.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body .wrapper .directions .directions__continer .directions__wrapper .right-block .block p {
  margin: 1.042vw 0 0 0;
  font-weight: 400;
  font-size: 1.572vw;
  line-height: 140%;
  text-transform: capitalize;
  color: #efefef;
}/*# sourceMappingURL=services1920.css.map */